In [1]:
from splinter import Browser
from bs4 import BeautifulSoup

import pandas as pd

### NASA Mars News

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [6]:
# results = soup.find_all('div', class_="content_title")
# results = soup.find_all('html')
results = soup.find_all('div', class_="list_text")

In [8]:
news_title  = results[0].find('div', class_="content_title").text
news_title

'InSight Captures Sunrise and Sunset on Mars'

In [10]:
news_p  = results[0].find('div', class_="article_teaser_body").text
news_p

"InSight joins the rest of NASA's Red Planet surface missions, all of which have photographed either the start or end of a Martian day."

In [11]:
browser.quit()

### JPL Mars Space Images - Featured Image

In [12]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [13]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars/'
browser.visit(url)

In [14]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [15]:
results = soup.find_all('div', class_="carousel_container")

In [16]:
for result in results:
    # Error handling
    try:
        
        featured_image_url  = result.find('article', class_="carousel_item")['style']
        
        if (featured_image_url):
            print('-------------')
            print(featured_image_url)
            featured_image_url = featured_image_url.split("('", 1)[1].split("')")[0]
            featured_image_url = 'https://www.jpl.nasa.gov' + featured_image_url
            print('-------------')
            print(featured_image_url)
            
            
            

    except AttributeError as e:
        print(e)

-------------
background-image: url('/spaceimages/images/wallpaper/PIA17356-1920x1200.jpg');
-------------
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17356-1920x1200.jpg

In [17]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA17356-1920x1200.jpg'

In [18]:
browser.quit()

### Mars Weather

In [19]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [20]:
url = 'https://twitter.com/marswxreport?lang=en/'
browser.visit(url)

In [21]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [22]:
results = soup.find_all('div', class_="content")

In [23]:
mars_weather = results[0].find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
# print(mars_weather)
mars_weather

'InSight sol 153 (2019-05-02) low -98.5ºC (-145.3ºF) high -17.5ºC (0.6ºF)\nwinds from the SW at 4.7 m/s (10.5 mph) gusting to 11.9 m/s (26.6 mph)\npressure at 7.40 hPapic.twitter.com/5RdVDek7mh'

In [24]:
sep = 'pic.twitter'
mars_weather = mars_weather.split(sep, 1)[0]
# print(mars_weather)
mars_weather

'InSight sol 153 (2019-05-02) low -98.5ºC (-145.3ºF) high -17.5ºC (0.6ºF)\nwinds from the SW at 4.7 m/s (10.5 mph) gusting to 11.9 m/s (26.6 mph)\npressure at 7.40 hPa'

In [25]:
mars_weather = mars_weather.replace("\n", ", ")
mars_weather

'InSight sol 153 (2019-05-02) low -98.5ºC (-145.3ºF) high -17.5ºC (0.6ºF), winds from the SW at 4.7 m/s (10.5 mph) gusting to 11.9 m/s (26.6 mph), pressure at 7.40 hPa'

In [26]:
browser.quit()

### Mars Facts

In [ ]:
# executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# url = 'https://space-facts.com/mars/'
# browser.visit(url)

In [ ]:
# html = browser.html
# soup = BeautifulSoup(html, "html.parser")

In [ ]:
# # results = soup.find_all('div', class_="post-content")
# results = soup.find_all('table', {"id": "tablepress-mars"})

In [ ]:
# for result in results:
#     print(result)

In [ ]:
# descriptions = []
# values = []

In [ ]:
# sep = ':'

# result_text = results[0].find('tr', class_="row-1 odd").text
# result_text = result_text.replace("\n", "")
# descriptions.append(result_text.split(sep, 1)[0])
# values.append(result_text.split(sep, 1)[1])

# result_text = results[0].find('tr', class_="row-2 even").text
# result_text = result_text.replace("\n", "")
# descriptions.append(result_text.split(sep, 1)[0])
# values.append(result_text.split(sep, 1)[1])

# result_text = results[0].find('tr', class_="row-3 odd").text
# result_text = result_text.replace("\n", "")
# descriptions.append(result_text.split(sep, 1)[0])
# values.append(result_text.split(sep, 1)[1])

# result_text = results[0].find('tr', class_="row-4 even").text
# result_text = result_text.replace("\n", "")
# descriptions.append(result_text.split(sep, 1)[0])
# values.append(result_text.split(sep, 1)[1])

# result_text = results[0].find('tr', class_="row-5 odd").text
# result_text = result_text.replace("\n", "")
# descriptions.append(result_text.split(sep, 1)[0])
# values.append(result_text.split(sep, 1)[1])

# result_text = results[0].find('tr', class_="row-6 even").text
# result_text = result_text.replace("\n", "")
# descriptions.append(result_text.split(sep, 1)[0])
# values.append(result_text.split(sep, 1)[1])

# result_text = results[0].find('tr', class_="row-7 odd").text
# result_text = result_text.replace("\n", "")
# descriptions.append(result_text.split(sep, 1)[0])
# values.append(result_text.split(sep, 1)[1])

# result_text = results[0].find('tr', class_="row-8 even").text
# result_text = result_text.replace("\n", "")
# descriptions.append(result_text.split(sep, 1)[0])
# values.append(result_text.split(sep, 1)[1])

# result_text = results[0].find('tr', class_="row-9 odd").text
# result_text = result_text.replace("\n", "")
# descriptions.append(result_text.split(sep, 1)[0])
# values.append(result_text.split(sep, 1)[1])

In [ ]:
# descriptions

In [ ]:
# values

In [ ]:
# browser.quit()

### Mars Facts (Alternatively)

In [2]:
url = 'https://space-facts.com/mars/'
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [3]:
type(tables[0])

pandas.core.frame.DataFrame

In [4]:
df_table = tables[0]

In [5]:
df_table.columns = ['Descripton', 'Value']

In [6]:
df_table

             Descripton                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [8]:
df_table.set_index('Descripton', inplace=True)

In [9]:
df_table

                                              Value
Descripton
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [10]:
mars_facts = df_table.to_html()
mars_facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Descripton</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [35]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [36]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars/'
browser.visit(url)

In [37]:
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [38]:
results = soup.find_all('div', class_='description')

In [39]:
base_url = 'https://astrogeology.usgs.gov'
hemisphere_image_urls = []

for result in results:
    
    image_dict = {}
#     print(result)
    title = result.find('h3').text
    product_link = result.find('a')['href']
    product_link = base_url + product_link
#     print(title)
#     print(product_link)
    image_dict['title'] = title
    
    browser.visit(product_link)
    image_html = browser.html
    image_soup = BeautifulSoup(image_html, "html.parser")
    image_url = image_soup.find('img', class_='wide-image')['src']
    image_url = base_url + image_url
#     print(image_url)
    image_dict['img_url'] = image_url
    
    hemisphere_image_urls.append(image_dict)

In [40]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]

In [41]:
browser.quit()